.my-modal {
  background-color: white;
  width: 70%;
  height: 50%;
  position: fixed;
  z-index: 1000000;
  top: 18%;
  left: 15%;
  padding: 3%;
  display: flex;
}

.modal-con {
  width: 100%;
  height: 120vh;
  z-index: 100000000;
  position: fixed;
  top: -20px;
  right: 0;
}
.modal-left {
  width: 50%;
  height: 100%;
}

.modal-right {
  width: 48%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}
.modal-img {
  width: 100%;
  height: inherit;
}
.modal-x {
  width: 2%;
  height: 2%;
}
.modal-x-btn {
  box-shadow: 0 0 5px #f3f3f3;
  border-radius: 5px;
  color: silver;
}
.modal-title {
  margin-top: 3%;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.span-title {
  font-size: 15px;
  font-weight: 600;
}
.span-price {
  font-size: 15px;
  font-weight: 600;
  color: #f17228;
}
.orts {
  margin-top: 5%;
  width: 100%;
  height: 50%;
}
.orts-div {
  margin-top: 2%;
  width: 100%;
  height: 80%;
  background-color: #f7f8f7;
  border-radius: 10px;
  padding: 10px 20px;
  color: #767676;
  font-size: 14px;
  font-weight: 400;
}
.modal-right-top {
  height: 45%;
}
.modal-right-bottom {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-right-bottom-t {
  width: 100%;
  height: 30%;
}
.modal-right-bottom-b {
  width: 100%;
  height: 30%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}
.modal-right-bottom-b-btn {
  width: 100%;
  height: 48px;
  background-color: #f17228;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.m-right-active-x {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.m-right-active-x button {
  width: 40px;
  background-color: #f17228;
  height: 100%;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 500;
}
.m-right-active-x span {
  background-color: #767676;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff1e9;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .modal-con {
    display: none;
  }
}
