@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
nav {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px rgb(238, 238, 238);
  background-color: white;
  z-index: 1000000;
}

.img-div-order {
  width: 100%;
  /* height: 135.35px; */
}
.terms-and-condition {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.order-img-main {
  width: 100%;
  height: calc(100% - 10px);
  transform: scale(1.1);
}
.terms-and-condition h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #f17228;
  border-left: 5px solid #f17228;
  padding-left: 5px;
}
.terms-and-condition p {
  font-size: 14px;
  font-weight: 300;
}
.terms-and-condition span {
  margin: 15px;
}

.userprofile-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
}
.user-profile-container-main {
  display: flex;
  justify-content: center;
}
.modal-img {
  width: 100%;
  height: 30%;
}
.order-img-side {
  width: 100%;
  height: 20vh;
}
.basket-container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.meal-container {
  width: 100%;
  height: 60%;
  overflow: scroll;
}
#my-modal {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 100% !important;
}
.modal-content {
  border: none !important;
  border-radius: 0 !important;
  width: 700px !important;
  padding: 20px;
}

.order-box {
  width: 700px;
  height: 750px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
}
.order-img-containers {
  width: 40%;
  height: 100px;
  background-color: #fff4eb;
  overflow: hidden;
}
.order-item-containers {
  width: 55%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-item-containers p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.order-item-containers span {
  margin: 0;
  color: #f17228;
  font-weight: 500;
  font-size: 14px;
}
.basket-container button {
  width: 100%;
  height: 40px;
  background-color: #f17228;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 700;
}
.controllers .order-button-min {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.order-span-div-min {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px !important;
  padding: 5px;
  text-align: center;
}
.lower-container {
  display: flex;
  justify-content: end;
}
.lower-container p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.basket-container h6 {
  color: #f17228;
  font-size: 13px;
  font-weight: 600;
  border-left: 5px solid #f17228;
  padding-left: 5px;
}
.exit_reminder {
  position: absolute;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.exit_reminder_icon {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.exit_reminder_container_dis {
  display: none;
}
.userprofile-container h5 {
  font-size: 14px;
  color: #f17228;
  margin-left: 20px;
  border-left: 5px solid #f17228;
  font-weight: 600;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.exit-text {
  padding: 0 20px;
}
.exit-text p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.exit_reminder_container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.exit-icon-con {
  background-color: #f17228;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit_button_container {
  height: 35px;
}
.exit_button_container button:nth-child(1) {
  background-color: #f17228;
  width: 50%;
  height: 100%;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-right: 1px solid #f5d7c5;
}
.exit_button_container button:nth-child(1):hover {
  background-color: #fbc5a6;
}
.exit_button_container button:nth-child(2):hover {
  background-color: #fbc5a6;
}
.exit_button_container button:nth-child(2) {
  background-color: #f17228;
  width: 50%;
  height: 100%;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.userinfo-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(240, 240, 240);
}
.userinfo-container input {
  width: 100%;
  border: none;
  font-size: 12px;
  padding-left: 10px;
  font-weight: 300;
  background: none;
}
.userinfo-container input:focus {
  outline: none;
}
.userinfo-container input::placeholder {
  font-size: 13px;
  color: #b5b5b5;
  font-weight: 300;
  padding-left: 3px;
}

.icon-cont {
  background-color: #f17228;
  width: 40px;
  height: 30px;
  background-color: #fef5ed;
  position: relative;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.userprofile-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}
.userprofile-edit-icon {
  position: absolute;
  right: 20px;
  top: 18px;
}
.userprofile-edit-icon:focus {
  box-sizing: 0 0 5px orange;
}
.userprofile-save-button {
  background-color: green;
  width: 100%;
  margin-top: 40px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #f17228;
  font-size: 14px;
  font-weight: 600;
}

.min-input {
  border-radius: 10px;
  width: 90%;
  height: 40px;
  display: flex;
  margin: auto;
  margin-top: 16px;
  background-color: white;
}
.min-input input {
  margin-left: 0;
  background: none;
  border: none;
  font-size: 12px;
  width: 100%;
}
.min-input input::placeholder {
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 5px;
}
.min-input input[type="text"]:focus {
  outline: none;
}
.min-input button {
  position: relative;
}
.input_search_icon_min {
  width: 14px;
  height: 14px;
  margin-left: 10px;
}

.spacer {
  width: 100%;
  height: 56px;
}
.navContainer {
  width: 90%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  border-right: 5px solid white;
  border-left: 5px solid white;
  box-sizing: border-box;
  /* box-shadow: 0 0 5px rgb(238, 238, 238); */
}
.drop-down-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: white;
  animation-name: drop-down-container;
  animation-duration: 0.5s;
  position: fixed;
  z-index: 10000;
}
.drop-container {
  width: 100%;
  padding: 20px;
}
.drop-container a {
  margin-left: 10px;
  text-decoration: none;
  margin-top: 7px;
  color: black;
  font-size: 14px;
  font-weight: 300 !important;
  line-height: 21px;
}
.drop-icon {
  background-color: rgba(242, 153, 74, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.drop-icon-img {
  padding: 8px;
}
.img-text-container {
  display: flex;
}
.img-text-container a {
  font-weight: 400;
  color: #252b48;
  font-size: 14px;
}
.anchor-container {
  width: 100%;
  height: 131px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.anchor-single-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.anchor-single-container:nth-child(1) {
  padding-bottom: 20px;
}

.line {
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #fff4eb;
  top: 48px;
}
.drop-down-menu-dis {
  display: none;
}
.drop-spacer {
  width: 100%;
  height: 7vh;
}
@keyframes drop-down-container {
  from {
    top: -1000px;
  }
  to {
    top: 0;
  }
}
#close_icon {
  display: none;
}

button {
  border: none;
  background: none;
}

.nav_image {
  width: 25px;
  height: 25px;
}
#btn-check {
  position: relative;
}

.button-check-passwordShow {
  position: absolute;
  top: -3px;
  left: -3px;
}

.brand span {
  color: #f17228;
  font-size: 15px;
  font-weight: 800;
}
.icons span {
  color: #f17228;
  font-size: 12px;
  font-weight: 400;
}

.brand {
  margin-bottom: -15px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: antiquewhite; */
  width: 90%;
  height: 100px;
  animation-name: link-drop;
  animation-duration: 0.5s;
  position: absolute;
  z-index: 0;
  top: 56px;
}
.anchor-text {
  width: 90%;
  margin: auto;
  text-decoration: none;
  color: #f17228;
  font-size: 12px;
}

.links-toggle {
  /* background-color: antiquewhite; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 100px;
  animation-name: back-toggle;
  animation-duration: 1s;
  position: absolute;
  z-index: 0;
  top: -100px;
  overflow: hidden;
}

.ham-burger {
  transform: rotate(0deg);
  animation-name: back-rotate;
  animation-duration: 0.5s;
}

.ham-rotate {
  transform: rotate(90deg);
  animation-name: rotate;
  animation-duration: 0.5s;
}

@keyframes link-drop {
  from {
    top: -250px;
  }
  to {
    top: 110px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes back-rotate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}

.drop-down-text {
  color: black;
  /* font-weight: 500; */
}

.drop-down-text:hover {
  color: #f17228;
  background-color: rgb(246, 242, 242);
}

.SearchForm {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.search-form-head {
  border: 1px solid #fbc5a6;
  width: 50%;
  overflow: hidden;
  border-radius: 20px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.switchNavbar {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10001000;
  position: fixed;
}

.search-form-img {
  width: 8px;
}
.search-form-head span:nth-child(1) {
  font-size: 12px;
  display: flex;
  align-items: center;
}
#search-form-span {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 350;
  color: black;
}
#search-form-span-head {
  font-size: 12px;
  font-weight: 400;
  color: #f17228;
}

.searchcard-container {
  margin-top: 30px;
  width: 100%;
  height: 50vh;
}

.valueNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.valueNotFound p {
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  margin-bottom: 0;
}

/* TABLET VERSION CSS */

@media only screen and (max-width: 768px) {
  .spacer-big {
    width: 100%;
    height: 370px;
    background-color: white;
  }

  .spacer-small {
    width: 100%;
    height: 56px;
  }
  .main-anchor-tags {
    display: none;
  }
  .close_icon {
    display: none;
  }
  .md-button {
    display: none;
  }
  .main-links {
    display: none;
  }
  /* SMALL SCREEN DROPDOWN ANIMATION!! */
  .links {
    display: none;
  }
  .links-toggle {
    display: none;
  }
  .dropdown-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    z-index: -1;
    width: 100%;
  }

  span {
    margin-left: 5px;
  }
}

.drop-anchor-tags {
  position: absolute;
  display: flex;
  justify-content: column;
  width: 88%;
  top: 110px;
  animation-name: link-drop;
  animation-duration: 0.5s;
  z-index: -1;
}
.drop-menu-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.mobile-menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 131px;
  top: -35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(238, 238, 238);
}
.mobile-menu-second {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 131px;
  top: 105px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(238, 238, 238);
}
.menu-items {
  margin-top: -15px;
  width: 100%;
  height: 65px;
  padding-top: 10px;
  position: relative;
}
.menu-item-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.mobile-menu-icon {
  background: rgba(242, 153, 74, 0.1);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: -10px;
}
.menu-items:nth-child(2) {
  border-top: 1px solid rgba(242, 153, 74, 0.1);
  margin-top: -5px;
}

/* LOG IN CSS */

@media only screen and (min-width: 768px) {
  .userprofile-container {
    width: 50%;
    margin-top: 100px;
  }
  #see-all {
    text-decoration: none !important;
  }
  .log-in {
    display: none;
  }

  .main-anchor-tags {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .toggler {
    display: none;
  }
  span {
    margin-left: 5px;
  }
  .brand {
    margin: 0;
  }
  .main-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: black;
  }

  #main-links-href-id:nth-child(1) {
    color: black;
  }
  #main-links-href-id:nth-child(1):focus {
    color: #f17228;
    font-weight: 700;
  }
  #main-links-href-id:nth-child(2) {
    color: black;
  }
  #main-links-href-id:nth-child(2):focus {
    color: #f17228;
    font-weight: 700;
  }
  #main-links-href-id:nth-child(3) {
    color: black;
  }
  #main-links-href-id:nth-child(3):focus {
    color: #f17228;
    font-weight: 700;
  }
  #main-links-href-id:hover {
    background-color: white;
    /* font-size: inherit; */
  }
}

.main-links-href {
  font-size: 12px;
  text-decoration: none;
}
/* WEB VERSION CSS */

@media only screen and (min-width: 992px) {
  .main-anchor-tags {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  .lg-dis-button {
    display: none;
  }
  .main-links {
    width: 40%;
  }
  .max-input {
    border-radius: 8px;
    border: 1px solid #fbc5a6;
    position: relative;
    width: 18%;
    display: flex;
  }
  .max-input input::placeholder {
    position: absolute;
    top: 5px;
    left: 4px;
  }

  .max-input:active {
    border: 1px solid #fbc5a6;
  }
  ::placeholder {
    color: silver;
    font-size: 0.8em;
    position: absolute;
    top: 4px;
    left: 3px;
  }
  input[type="text"] {
    font-size: 10px;
    height: 22px;
    color: black;
    border: none;
    outline: none;
    margin-left: 18px;
    width: 75%;
  }
  .input_search_icon {
    position: absolute;
    top: 5px;
    width: 10px;
    left: 15px;
  }
  .sign_in_user {
    font-size: 11px !important;
    font-weight: 300;
  }
  .sign_in,
  .bucket {
    font-size: 12px;
    font-weight: 400;
  }
  .sign_in_icon {
    width: 12px;
    margin: 5px;
  }
  .bucket_icon {
    width: 15px;
    margin: 5px;
  }
  .nav_image {
    width: 38px;
    height: 38px;
    margin-right: 10px;
  }
  .navContainer {
    width: 85%;
  }
}
.user_dropdown {
  width: 263px;
  height: 112px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 0 5px rgb(240, 240, 240);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  right: 20px;
}
.user_dropdown a:nth-child(1) {
  color: #252b48;
  text-decoration: none;
  border-bottom: 1px solid #ffe7d9;
  margin-left: 10px;
  font-size: 14px;
  margin: 5px;
  font-weight: 300;
}
.user_dropdown a:nth-child(2) {
  color: #252b48;
  text-decoration: none;
  border-bottom: 1px solid #ffe7d9;
  margin-left: 10px;
  font-size: 14px;
  margin: 5px;
  font-weight: 300;
}
.user_dropdown button {
  color: #f17228;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  margin-left: 0;
}
.user_dropdown_dis {
  display: none;
}

@media only screen and (max-width: 992px) {
  .max-input {
    display: none;
  }
  .sign_in_user {
    display: none;
  }

  .sign_in,
  .bucket {
    display: none;
  }
}

@media only screen and (min-width: 1264px) {
  .navContainer {
    width: 80%;
  }
  .userprofile-container {
    width: 30%;
    margin-top: 100px;
  }
  .log-in {
    display: none;
  }
}
@media only screen and (min-width: 1464px) {
  .navContainer {
    width: 70%;
  }
}
